<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/three@v0.113.0"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/three@v0.113.0/examples/js/controls/TrackballControls.js"></script>

    <style type="text/css">
      canvas { position: absolute; top: 0; left: 0; right: 0; }
    </style>

    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
  
  <div class='top'>
    {% include navigation.html %}
    {% include mathjax.html %}  
  </div>

  <div class='home'>
    <p>
    This website is a blog/portfolio of my research into:
    </p>
    <ul>
    <li>- Data Science, Modeling, Artificial Intelligence</li>
    <li>- Computer Science, Data Structures, Algorithms</li>
    <li>- Probability, Statistics</li>
    <li>- Calculus, Linear Algebra</li>
    </ul>
    </br>
    <p>
    I write a blog to practice writing, share projects, and improve my understanding of ideas in data science. If you find any of my work or writing interesting, or have inquiries, I would be glad to hear from you (first name j last name at g mail).
    </p>  
    <p>
      I currently work as an AI engineer. I am working towards a graduate degree in data science.
    </p>
    </br>
    <p style='color: #4a4a4a;'>
      Disclaimer: In these blog posts, I attempt to make as precise explanations as I can. However, it's possible that something I've written contains errors or lacks accuracy. Please be sure to consider your own evaluation of what is true when you read. If you are reading this blog and notice an error or incorrect explanation, you are welcome to inform me.
    </p>
  </div>
    <div class='footer' style="position: fixed; bottom: 0; background-color: transparent;">
      Credit: Thank you to <a class='footer-link' href="https://madebyevan.com">@evanwallace</a> and <a class='footer-link' href="https://martinrenou.github.io/threejs-water">@martinRenou</a> for open-sourcing their WebGL water simulations.
    </div>

    <canvas id="canvas-water"></canvas>

    <script type="text/javascript" src="threejs-water/index.js"></script>
  </body>
</html>
