<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/three@v0.113.0"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/three@v0.113.0/examples/js/controls/TrackballControls.js"></script>

    <style type="text/css">
      a { color: inherit; cursor: pointer; }
      img { display: none; }
      canvas { position: absolute; top: 0; left: 0; right: 0; }
      #loading { position: center; left: 0; top: 0%; right: 0; text-align: center; margin-top: 0; }
      #help { position: center; top: 0; right: 0; bottom: 0; width: 0; padding-right: 0; overflow: auto; }
    </style>

    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
  
  <div class='top'>
    {% include navigation.html %}
    {% include mathjax.html %}  
  </div>

  <div class='content'>

    {{ content }}
  </div>

    <div id="loading">Loading...</div>
    <div id="help"></div>
    <canvas id="canvas-water"></canvas>

    <script type="text/javascript" src="threejs-water/index.js"></script>
  </body>
</html>
